extends layout

block content
		#container_title_costarica
		.container.text-center(style='margin-top: 5%')
			h1#title Costa Rica
			h4#description The country of the colors and happiness
		.container(style='margin-top: 5%')
			.row
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Faro', data-toggle='collapse') Nature
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Albufeira', data-toggle='collapse') Beaches
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Sagres', data-toggle='collapse') Transport 
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Lagos', data-toggle='collapse') Facts about Costa Rica
		.container.text-center(style='margin-top: 5%')
			#hidden_Faro.collapse
				h3 Nature
				br
				p.cityDescription Located between two oceans and two continents, the country of Costa Rica is set apart by the intense biodiversity on display within its borders and by its efforts to preserve these natural wonders through future development. No matter what region of Costa Rica you visit, there are unique habitats and ecosystems supporting a wide range of species. The featured nature destinations below are particularly great places for nature-enthusiasts to appreciate hiking through the forest and for travelers hoping to spot monkeys in the canopy, find rare birds tending to their nests, or see enormous whales breaching the surface of the Pacific.
				.title-box
					h4 Cloudforests and rainforests
				p.cityDescription Most of Costa Rica’s forestation can be primarily classified into three groups; rainforests, cloud forests and topical dry forests. And while rainforests are the most common habitat, the cloud forests of Costa Rica are a magnificent sight to behold. Rainforests can be found in the southwest of the country as well as in the Atlantic lowlands, with towering trees and looping vines that create a magical wispy environment.
				<p>&nbsp;</p>
				p.cityDescription The cloud forests of Costa Rica are some of the most beautiful. Covering the higher slopes of volcanoes and mountains all across the country, these amazing environs with their mysterious fogs and thick growth of bromeliads, mosses and ferns, offer tourists some of the most fabulous and luxuriant environments to trek or canopy tour in.
				<p>&nbsp;</p>
				p.cityDescription Due to the cloud forests in the greater Monteverde area, <strong style="font-size: 20px"> Monteverde </strong> has become a major part of the Costa Rican tourist trail - despite difficult access. It was recently voted one of the "7 Wonders of Costa Rica" by the Costa Rican newspaper La Nación. Of Monteverde's total 250,000 annual tourists, around 70,000 tourists visit the reserve.
				<p>&nbsp;</p>
				p.cityDescription Monteverde is famous for a reason—its cloud forests are brimming with plants and animals, its zip lines and suspension bridges are the longest (and most exciting) in the country, and its coffee is tasty, local and cheap. Each of these diversions – as well as countless other activities – can be enjoyed through a number of exciting tours.
				figure
					img.img-responsive(src="images/monteverde1.jpg",style="display: inline-block")
					figcaption One of the many eco-tourism oriented suspension bridges in Monteverde
				p.cityDescription Though one of the smallest park in the country, <strong style="font-size: 20px"> Manuel Antonio National Park </strong> is the most popular - and rightfully so. Manuel Antonio is often considered among the most biodiverse parks in the world. Spanning several natural habits, this gem boasts more than 109 different species of mammals and 184 species of birds. Manuel Antonio is one of only two locations in Costa Rica where you can see all four types of monkey; spider, howler, white faced and the endangered squirrel monkey, many of which can be visible from your hotel window. Its four beaches cater to snorkeling, swimming and sun bathing. For hikers, there are plenty of well marked trails to explore all the flora and fauna. Manuel Antonio National Park is open Tuesday through Sunday from 7:30 a.m. to 4 p.m.
				figure
					img.img-responsive(src="images/manuelantonio.jpg",style="display: inline-block")
					figcaption White faced monkey chilling in the tree
				.title-box
					h4 Arenal Volcano and La Fortuna
				p.cityDescription One of Costa Rica's most notable natural features is the Arenal Volcano. This impressive volcano resides within the 29,960-acre Arenal Volcano National Park. Although the volcano entered into a resting phase in 2010 – meaning that its eruptions have paused – it is still a stunning sight. Rising above the rainforest that surrounds its base, Arenal frames the skyline with near perfect symmetry. The immediate area hosts a wealth of activities – including whitewater rafting, waterfall rappelling, hiking and canopy tours – as well as the friendly town of La Fortuna.
				<p>&nbsp;</p>
				p.cityDescription The quiet town of La Fortuna is about 7 km from the Arenal Volcano and 120 km from San Jose. If you’re driving from San José, it’ll take around 3 hours to get here. The town itself is small, central and warm. Its location provides visitors with easy access to the Arenal area and its amenities make staying here pleasant. There are hotels both within and outside of the town, many of which stipple the countryside at the base of the volcano. La Fortuna hosts good places to eat and buy groceries, and has an assortment of banks, shops and bars. The activities within this area are endless.
				<p>&nbsp;</p>
				p.cityDescription The La Fortuna Waterfall, a breathtaking 230 ft (70 m) cascade that drops into a misty pool, is just 3 miles (5 km) south of La Fortuna and makes for an easy day trip. A short hike (or horseback ride) drops visitors into the base of the pool, where they can swim, take photos and enjoy the scenery. The volcano’s geothermal activity heats dozens of underground water flumes. Local landowners, tapping into this natural source, have created a number of beautiful hot springs.
				figure
					img.img-responsive(src="images/lafortuna.jpg",style="display: inline-block")
					figcaption The La Fortuna waterfall
		.container.text-center
			#hidden_Albufeira.collapse
				h3 Beaches
				br
				.title-box
					h4 Cahuita
				p.cityDescription Tucked along the sprawling southern Caribbean Coast, the beautiful black-sand beaches of Cahuita are some of the most relaxing and exotic in Limon. Boasting warm, calm waters, this tropical paradise is ideal for laid-back travelers seeking a getaway in a quaint beach community. The town sits next to one of the most visited national parks in Costa Rica: Cahuita National Park. Home to an abundance of outdoor activities like hiking, scuba diving, canoeing and snorkeling, it's possible to experience everything Costa Rica has to offer without leaving the area. 
				<p>&nbsp;</p>
				p.cityDescription Cahuita is becoming more popular among travelers, but it still remains a low-key beach town with tranquil shorelines and picturesque trailways. Some trails lead to a nearby coastal forest, which is even more relaxing and secluded than the town's beaches. The tropical climate of the region is consistent throughout the year, making it a great place to travel year-round.
				figure
					img.img-responsive(src="images/cahuita.jpg",style="display: inline-block")
					figcaption Cahuita
				.title-box
					h4 Playa Conchal
				p.cityDescription Playa Conchal is located in one of the most beautiful regions of Costa Rica, the Province of Guanacaste. Guanacaste is a combination of stunning first-rate beaches and incredible bird watching opportunities. The region is blessed with radiantly sunny days and unforgettable sunsets. Among the Guanacaste beaches, Playa Conchal is a gem. It is one of the only Pacific Coast beaches with crystal clear water, similar to that of famed beaches along the Caribbean.
				<p>&nbsp;</p>
				p.cityDescription In the Playa Conchal area, it is effortless to create a memorable and warm beach vacation. In addition to swimming and snorkeling, visitors to Playa Conchal can enjoy deep sea fishing excursions and hiking trips to the nearby national parks or nature reserves. 
				<p>&nbsp;</p>
				p.cityDescription The neighboring town of Brasilito is within a short walking distance along the beaches of Conchal and Playa Brasilito, and in Brasilito, visitors will find an array of affordable Hotels, restaurants, and bars. Also within close proximity to Playa Conchal, the community of Playa Flamingo, with its palm-lined, white sand beach provides a small assortment of classy hotels and restaurants.
				figure
					img.img-responsive(src="images/playaconchal.jpg",style="display: inline-block")
					figcaption Playa Conchal
				.title-box
					h4 Samara
				p.cityDescription The beautiful coastal hamlet of Samara is a paradise on the Nicoya Peninsula's western shore. Known as one of the prettiest and safest beaches in all of Costa Rica, Playa Samara radiates wonderful white sand in contrast to the aquamarine water. Tropical plant life and living coral encompass Samara's 3-mile (5 km) coastline, and the beach is a favorite among locals, foreigners, and wealthier Ticos- forming a quintessential beach community.
				<p>&nbsp;</p>
				p.cityDescription Transportation to Samara has dramatically improved with construction of the paved Road 150, which runs south from Nicoya. Air travel is available to a small airstrip just outside of town. From San Jose or Liberia, planes will fly to Nosara and then to Samara. Daily buses also run from Nicoya, Liberia, and San Jose.
				figure
					img.img-responsive(src="images/playasamara.jpg",style="display: inline-block")
					figcaption Playa Samara
				.title-box
					h4 Tamarindo
				p.cityDescription Tamarindo is one of the most beautiful and modern beach destinations in Costa Rica. The area offers plenty of outdoor activities that all can enjoy. The weather is almost always ideal, so one can enjoy the blue waters and white sand beaches nearly year round. 
				<p>&nbsp;</p>
				p.cityDescription To the north, Playa Grande is a great surfing beach and also a famous nesting area of the leatherback turtles. During the months of mid-October through mid-February, these turtles will come to shore and lay their eggs. This area is a part of the Las Baulas National Park, with guided turtle tours available at night.
				<p>&nbsp;</p>
				p.cityDescription To the south Playa Langosta is a resort area with beautiful white sand beaches. There is a nice swimming area and also several areas which is better for surfing.  The mini beaches of Langosta are broken up by scenic rock formations.
				figure
					img.img-responsive(src="images/tamarindo.jpg",style="display: inline-block")
					figcaption Playa Langosta
				<p>&nbsp;</p>
				p.cityDescription Tamarindo is one of the more Americanized destinations in Costa Rica, making it ideal for first time visitors.  The beach side village has plenty of modern conveniences, condominiums, hotels, restaurants, shops and more.  Although Tamarindo is a tourist town you will be embraced with the local Costa Rican culture and traditions. There are several outdoor markets that are supplied with fresh vegetables and fish that area caught each morning.

		.container.text-center
			#hidden_Sagres.collapse
				h3 Transportation 
				br
				p.cityDescription Costa Rica has many tourist attractions, where you can enjoy an unforgettable vacation. To visit these destinations in Costa Rica there are many options of travel, either by land or air. There are many tourist transportation companies which you can choose; always keep in mind that you must verify that the transportation operator has all the permits and insurance required by law in Costa Rica; this way you can avoid any inconvenience during your vacation.
				.title-box
					h4 Public Transportation
				p.cityDescription This is a collective passenger transportation; where the travelers have to adapt to the schedules and routes offered by the operator; Costa Rica has a good quality public transportation service at affordable prices; mostly buses, but also has a metropolitan train and ferry to the Pacific coast. Most buses leave from San Jose, Costa Rica's capital, to the different provinces from its respective terminal. San Jose to Manuel Antonio, eg. only costs around $8 one way. Use the "directo"  buses where possible. No need to speak Spanish, but a little bit might help.   Watch your belongings - don't put anything in the overhead bin. prices for your destination.
				<p>&nbsp;</p>
				p.cityDescription Below are links for different bus schedules. (Always subject to change)
				<p>&nbsp;</p>
				p.cityDescription
					a(target="_blank" href="http://www.offthegridtraveler.com/") www.offthegridtraveler.com  
					span(style="padding-left: 3%") (mobile app with all bus routes for entire country)
				<p>&nbsp;</p>
				p.cityDescription
					a(target="_blank" href="https://www.visitcostarica.com/en/costa-rica/bus-itinerary") www.visitcostarica.com/en/costa-rica/bus-itinerary  
					span(style="padding-left: 3%") (Good for direct routes)
				<p>&nbsp;</p>
				p.cityDescription
					a(target="_blank" href="http://www.thebusschedule.com/cr/index.php") www.thebusschedule.com/cr/index.php 
					span(style="padding-left: 3%") (useful for trying to work out connections)
				.title-box
					h4 Shuttle Transportation
				p.cityDescription The shuttle service or door to door service is an excellent choice for travel between the main tourist destinations in the country. It is a comfortable and reliable way of travel. Interbus offers this modern service in Toyota Hiace units, they are non smoking, air conditioned and hold only a few passengers; the main advantage of shuttle services are affordable prices; as the name implies, it is shared with other passengers, the charge is per person, and each route has an output schedule, which varies slightly depending on the hotel where you are staying or being used as a reference; It is important that you know that this type of service must be booked in advance, because Interbus works with the amount of seats available. When you make a reservation, you will receive a confirmation email with all the details of your transportation service.
				<p>&nbsp;</p>
				p.cityDescription Here are few links:
				<p>&nbsp;</p>
				p.cityDescription
					a(target="_blank" href="https://www.interbusonline.com/") www.interbusonline.com
				<p>&nbsp;</p>
				p.cityDescription
					a(target="_blank" href="https://www.ticketbuscr.com/") www.ticketbuscr.com
				<p>&nbsp;</p>
				p.cityDescription
					a(target="_blank" href="https://www.transportationincostarica.com/") www.transportationincostarica.com
				<p>&nbsp;</p>
				p.cityDescription
					a(target="_blank" href="https://pacifictourscostarica.com/") https://pacifictourscostarica.com
				.title-box
					h4 Private Transportation
				p.cityDescription Private transport offers comfortable, safe and convenient service to travel anywhere within Costa Rica; this transportation programmed from most hotels and destinations in Costa Rica, it's the most convenient option when you want to save time, Interbus also offers this type of service, and it is a good option for people who want an exclusive transportation service.
				<p>&nbsp;</p>
				p.cityDescription
					a(target="_blank" href="https://www.interbusonline.com/") www.interbusonline.com
				.title-box
					h4 Taxi
				p.cityDescription For those that don't want the responsibility of driving in a strange country, taxis are also abundant. Beware though, that the only legal taxis are RED with a yellow triangle on the side. All others are illegal and are probably not insured to take passengers.   If the transit police stop the "pirate" taxi, you and your luggage may be left on the side of the road. Legal taxis  must have a "Maria" or meter although set rates are sometimes better  than the maria.  In rural areas, you won't often find "official" legal taxis and here it is OK just to use a local taxi to get around.    There is an app for your phone available so you can check the correct charge of your trip
				<p>&nbsp;</p>
				p.cityDescription
					a(target="_blank" href="http://www.taxiandocr.com/") www.taxiandocr.com
				figure
					img.img-responsive(src="images/costaricataxi.jpg",style="display: inline-block")
					figcaption Official red taxis in Costa Rica
				.title-box
					h4 Rent a car
				p.cityDescription If in your vacation you want more independence and flexibility, or plan on visiting areas where there are not many transportation services, we recommend renting a car, either for the entire trip or a part of it. Renting a car is not recommended if is the first time that you visit Costa Rica, because our country has driving conditions can be intimidating, there is a lack of signs on the road; however, if you are an adventurer, renting a car will be to your liking, some car rental companies have systems Routes / GPS and the visitors can successfully navigate the country. 
				<p>&nbsp;</p>
				p.cityDescription Below is an online maps that are useful for planning your routing and estimating time and distances.  Be aware that if you use Google Maps, the driving times they give are low compared to the actual times you will experience.
				<p>&nbsp;</p>
				p.cityDescription 
					a(target="_blank" href="http://www.yourtravelmap.com/costarica/travelmap/index.php") www.yourtravelmap.com/costarica/travelmap/index.php
				.title-box
					h4 Local Flights
				p.cityDescription Costa Rica is a small country, but the transportation by land can take many hours, due to the state the roads are in and the traffic, for this reason the domestic flights can be the most convenient option and reasonable if you do not have many days in the country, this represent a considerable saving in travel time.
				<p>&nbsp;</p>
				p.cityDescription There are two airlines <strong>SANSA</strong> and <strong>Nature Air</strong>, both offer regular flights to most important tourist destinations in Costa Rica; also they have flights to Bocas del Toro in Panama; and in the case of Nature Air, it also provides service to the Granada city in Nicaragua, during the high season; these flights are from San Jose and Liberia airports. The Sansa headquarters are located at the Juan Santamaria International Airport, while Nature Air is located in the Tobias Bolaños Airport in Pavas, both are just a few minutes from the city of San Jose.
				<p>&nbsp;</p>
				p.cityDescription 
					a(target="_blank" href="http://www.flysansa.com/") www.flysansa.com
				<p>&nbsp;</p>
				p.cityDescription 
					a(target="_blank" href="http://www.natureair.com/") www.natureair.com

				
		.container.text-center
			#hidden_Lagos.collapse
				h3 Facts about Costa Rica
				br
				.title-box
					h4 Geography
				ul.factsList
					li.cityDescription Costa Rica is around the same size as Lake Michigan, and slightly smaller than West Virginia.
					li.cityDescription Costa Rica has more than 800 miles of coastline.
					li.cityDescription The highest mountain in Costa Rica, Cerro Chirripo, stands at 3,810 meters above sea level.
					li.cityDescription Although not all of them are active, Costa Rica has around 200 volcanoes.
					li.cityDescription Costa Rica is home to approximately 5 percent of the world’s biodiversity, but only occupies around 0.3 percent of the planet’s surface.
					li.cityDescription Poas Volcano in central Costa Rica has the second-largest volcanic crater in the world.
				.title-box
					h4 People
				ul.factsList
					li.cityDescription Costa Rica has a population of just under 5 million people—a little more than half the population of New York City.
					li.cityDescription Religion plays an important role in Costa Rica’s culture, with approximately 76 percent of Costa Ricans identifying as Catholic. In fact, Catholicism is the official religion and impacts laws including the prohibition on both abortion and the death penalty, as well as the requirement that students take religion classes.
					li.cityDescription Less than 1 percent of Costa Rica’s population is of indigenous ancestry, and around 94 percent of Costa Ricans have some of primarily European heritage.
					li.cityDescription Spanish is the official language of Costa Rica. However, immigration (both recent and early 20th century) has meant that English is spoken natively by many people on both coasts, particularly on the Caribbean side.
					li.cityDescription Costa Rica has a literacy rate of 97.8 percent, one of the highest in the world.
					li.cityDescription Famous Costa Ricans include a Nobel Peace Prize winner (Oscar Arias), an astronaut (Franklin Chang), and one of the best goalies in the world (Keylor Navas of Real Madrid).
				.title-box
					h4 History
				ul.factsList
					li.cityDescription Noted explorer Christopher Columbus first visited what is now Costa Rica in 1502.
					li.cityDescription Spanish colonists first established a permanent presence in Costa Rica in 1563.
					li.cityDescription After a short-lived civil war, Costa Rica’s constitution was passed in 1949.
					li.cityDescription Costa Rica hasn’t had a national army since 1948.
					li.cityDescription Costa Rica has one of the oldest democracies in Latin America, having avoided many of the political problems in the region in the 1970s and 1980s.
				.title-box
					h4 Flora and Fauna
				ul.factsList
					li.cityDescription There are more than 34,000 species of insects in Costa Rica, as well as more than 20,000 species of spider.
					li.cityDescription Costa Rica is home to more than ten percent of all the species of butterfly in the world.
					li.cityDescription Costa Rica has around 615 species of animal per 10,000 square miles. By comparison, the U.S. has 104.
					li.cityDescription Certain species of crocodile, many of which can be found in Costa Rica’s rivers, can measure up to 16 feet in length.
		.container-fluid(style='margin-top: 15%')
			.myDetailBox
				.myTitleBox.text-center
					label(data-messages=messages) Costa Rica
				if messages.length === 0
					.noComments.text-center
						p There are no comments in this topic 
				else 	
					.myCommentBox
						if messages
							each message in messages
								table(align="center", id="myTable")
									tr
										td(colspan='1')
											p=message.user.username
									tr
										td(colspan='1')
											p#commentText=message.body
											span.date.sub-text=message.createdAt.toString().substring(0,21)
				form#commentForm.form-group(role='form' autocomplete='off')
						.row
							.col-xs-12.col-sm-6
								input#username(type="text" class="form-control" name="username" placeholder="Your name" required)
							.col-xs-12.col-sm-6.text-right
								input#input_email(type="email" class="form-control" name="email" placeholder="Your email" required)
								p#inform *Will not be published
						.row#error_message.text-center(style="width:100%; margin-left:0%; margin-top:3%")
							.alert-danger.hidden
						br
						textarea#message.form-control(rows='5' placeholder="Your comment" name="message" required)
						button#message-btn.btn-default(name='newMessage') Send
		//- // Footer
		//- footer.container-fluid.text-center
		//- 	.row
		//- 		.col-sm-4
		//- 			img.navbar-brand(src='images/logo_travellersblog.png')
		//- 		.col-sm-4
		//- 			h5 Address and contact info here
		//- 		.col-sm-4
		//- 			a.fa.fa-facebook(href='#')
		//- 			a.fa.fa-linkedin(href='#')
		//- 			a.fa.fa-github(href='#')
		script(src="/js/sendmessage.js")


