extends layout

block content
		#container_title_home
		.container
			h1#title.text-center Places where I've been so far
		//- // 2columns layout text on the right,image on the left - Portugal
		.container(style='margin-top: 5%')
			.row
				.col-sm-7
					img.img-responsive.grow(src='images/collage_portugal_2.jpg')
				.col-sm-5(style='padding-top:4%')
					h2.text-center Portugal
					br
					p This is the article about Portugal
					.text-center
						button#readmore.btn.btn-default 
							a(href="/portugal") Read more
		//- // End of 2 columns layout
		//- // 2columns layout text on the left,image on the right - Thailand
		.container
			.row
				.col-sm-5(style='padding-top:4%')
					h2.text-center Thailand
					br
					p This is the article about Thailand
					.text-center
						button#readmore.btn.btn-default
							a(href="/thailand") Read more
				.col-sm-7
					img.img-responsive.grow(src='images/collage_thailand.jpg')
		//- // End of 2 columns layout
		//- // 2columns layout text on the right,image on the left - Santorini
		.container
			.row
				.col-sm-7
					img.img-responsive.grow(src='images/collage_santorini.jpg')
				.col-sm-5(style='padding-top:4%')
					h2.text-center Santorini
					br
					p This is the article about Santorini
					.text-center
						button#readmore.btn.btn-default
							a(href="/santorini") Read more
		//- // End of 2 columns layout
		//- // 2columns layout text on the left,image on the right - Costa Rica
		.container
			.row
				.col-sm-5(style='padding-top:4%')
					h2.text-center Costa Rica
					br
					p
						| This is the article about Costa Rica. Teszteljuk, hogy hogy fog kinezni, ha sokat irok. Hogy alakulnak a marginok es a paddingek
					.text-center
						button#readmore.btn.btn-default
							a(href="/costarica") Read more
				.col-sm-7
					img.img-responsive.grow(src='images/collage_costarica2.jpg')
		//- // End of 2 columns layout
		//- // 2columns layout text on the right,image on the left - Santorini
		.container
			.row
				.col-sm-7
					img.img-responsive.grow(src='images/collage_srilanka.jpg')
				.col-sm-5(style='padding-top:4%')
					h2.text-center Sri Lanka
					br
					p This is the article about Sri Lanka
					.text-center
						button#readmore.btn.btn-default
							a(href="/srilanka") Read more
		//- // End of 2 columns layout
		//- // Footer
		footer.container-fluid.text-center
			.row
				.col-sm-4
					img.navbar-brand(src='images/logo_travellersblog.png')
				.col-sm-4
					h5 Address and contact info here
				.col-sm-4
					a.fa.fa-facebook(href='#')
					a.fa.fa-linkedin(href='#')
					a.fa.fa-github(href='#')

