extends layout

block content
		#container_title_portugal
		.container.text-center(style='margin-top: 5%')
			h1#title Portugal
			h4#description A little space of heaven
		.container(style='margin-top: 5%')
			.row
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Faro', data-toggle='collapse') Faro
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Albufeira', data-toggle='collapse') Albufeira
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Sagres', data-toggle='collapse') Sagres
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Lagos', data-toggle='collapse') Lagos
		.container.text-center(style='margin-top: 5%')
			#hidden_Faro.collapse
				h3 Faro
				br
				p.cityDescription Faro is a fascinating city, which combines an extensive history, interesting tourist attractions and an abundance of Portuguese charm. Sadly, Faro is often overlooked, considered purely for its airport and being the main point of entry to southern Portugal, but for those visitors who spend time in Faro will discover a wonderful and captivating city.
				<p>&nbsp;</p>
				p.cityDescription Within Faro, there is a delightful historic centre that is encircled by ancient city walls, while the pretty city centre is filled with pedestrianised shopping streets and peaceful plazas. By day there is an unhurried ambience about the city, with old men playing dominos in the plazas, but by night there is a surprising buzzing and social nightlife to Faro.
				figure
					img.img-responsive(src="images/faro1.jpg",style="display: inline-block")
					figcaption Old Town
				p.cityDescription Faro has a very different atmosphere to the busy and hectic resort towns of the western Algarve. The city is very scenic, especially within the old walled town and the area surrounding the marina.
				<p>&nbsp;</p>
				p.cityDescription Faro boasts more historic monuments and buildings than many other Algarve towns, while the pleasant shopping zone is lined with open-air cafes and designed for Portuguese shoppers. Departing from the small harbour are tours of the Ria Formosa nature park, and ferries to the deserted beaches on the sandbar islands.
				.title-box
					h4 Why Faro?
				p.cityDescription Faro is a major city so there is a wide range of cafes, restaurants and bars, and many of these are aimed for Portuguese customers, offering traditional food and exceptional value. Hidden within the city is some excellent nightlife of bars and clubs, again aimed for Portuguese patrons, and the nightlife hub is centred around the Rua do Prior (two streets from the bus station).
				<p>&nbsp;</p>
				p.cityDescription The main advantage of a holiday to Faro is that it makes a great central base from which to explore the Algarve. The excellent and inexpensive public transport means that the entire Algarve can be easily travelled to. Charming Tavira is only a 40-minute train journey to the east, exclusive Vilamoura is 30 minutes by bus to the west, or even Lagos at the very western edge of the Algarve is 1h30 by direct train.
				.title-box
					h4 How long to spend in Faro?
				p.cityDescription There are three different suggested lengths for a visit to Faro, either one, three or seven nights. 
				<p>&nbsp;</p>
				p.cityDescription The one-night stay is suggested for visitors who arrive on late flights and need a short stopover before heading to their final destination. Faro can be easily explored in a single day and makes for an interesting introduction to the Algarve.
				<p>&nbsp;</p>
				p.cityDescription A stay of three nights is enough time to fully explore Faro and provides time to discover the Old Town, the Ria Formosa national park, the Praia de Faro beach and a visit to the pretty village of Estoi. This length of visit is ideal for visitors who are touring the Algarve.
				<p>&nbsp;</p>
				p.cityDescription The seven-day suggested holiday length is for those visitors who wish to explore the Algarve via Faro’s excellent public transport and want to have a pleasant city as a central base. From Faro it is possible to take day trips to Olhao, Tavira, Loule, Albufeira and Vilamoura.
				.title-box
					h4 How to travel from the airport to Faro?
				p.cityDescription There is very limited public transport from the airport to Faro city. There is a single bus service that departs every 30-40 minutes from 6am until approximately midnight. A taxi from the airport to Faro will cost 10-15 Euro and there will be an additional charge for large luggage. The taxi ride is only 10 minutes to the city centre and there is no real need to pre-book a taxi transfer from the airport to Faro city.
		.container.text-center
			#hidden_Albufeira.collapse
				h2 Albufeira
				br
				p.cityDescription Albufeira was a quiet fishing town but it's the largest, liveliest and most energetic of all of the resort towns that line southern Portugal’s beautiful Algarve coastline. It's a popular place to stay in the Algarve since it’s in the middle, and it makes a great base to explore the coastline by car. It has a number of beaches near the town or within easy access through public transport.
				figure
					img.img-responsive(src="images/albufeira1.jpg",style="display: inline-block")
					figcaption A typical beach in Albufeira
				p.cityDescription Within the charming and historic streets of the “Old Town” there are over one hundred different restaurants and bars, while the nightlife scene is vibrant and social, and continues late into the night. For those groups of visitors wanting a more of a hedonistic holiday should head to “The Strip”, a street crammed with bars and clubs that actively encourages excessive drinking and partying.
				<p>&nbsp;</p>
				p.cityDescription Though Albufeira welcomes a wide range of visitors, it is still primarily a family holiday destination, with facilities and activities that are perfectly suited for children of all ages. Young children will be welcomed throughout, while difficult to please teenagers will be entertained by the waterparks, themeparks and the general excitement about the town.
				.title-box
					h4 Albufeira for 2018
				p.cityDescription The Algarve is currently experiencing an unparalleled rejuvenation; new businesses are opening, hotels are being refurbished and there is a sense of confidence and optimism about the region. Albufeira is expecting a record number of visitors for 2018 and this follows the sell-out summer in 2017.
				<p>&nbsp;</p>
				p.cityDescription This popularity does mean that to secure the best prices for accommodation and flights they must be booked far in advance. Fortunately, most hotels reserved via internet booking websites do not require a deposit, therefore negating any monetary penalty if plans are changed in the future. Our advice for you, if you are seriously considering a holiday to Albufeira book your accommodation now, as it will sell out.
				.title-box
					h4 When to visit Albufeira
				p.cityDescription Albufeira has hot summers, warm springs and autumns, while winters are mild but can have extended grey and wet periods. The height of the summer season aligns with the school holidays (July and August) but 
					strong the high season extends from June until September. 
				p.cityDescription This extended summer season of Albufeira, which is much longer than many other resort towns, is due to the fact that Albufeira is popular with visitors who do not have children. If you are planning a holiday during the high season always book accommodation and flights well in-advance.
				<p>&nbsp;</p>
				p.cityDescription The weather of the Algarve is suitable for spending time on the beaches from May until mid-October but be warned the seas are surprisingly cold, only reaching 18C at the height of the summer. The spring and autumn months are a great season for visitors who wish to explore the region, as days are bright and sunny but without the intense summer heat.
				<p>&nbsp;</p>
				p.cityDescription The winter months are mild but are unpredictable, with an equal number of sunny days and wet days. Albufeira should not be considered as a winter sun destination but as there is a large permanent population, the town never fully closes down for the winter and there are always restaurants, bars and cafes open.
		.container.text-center
			#hidden_Sagres.collapse
				h3 Sagres
				br
				p.cityDescription Sagres is remote, adventurous and unlike any other destination in southern Portugal. The small town is situated at the extreme western tip of the Algarve, a region of dramatic natural scenery; comprising of raging seas, towering cliffs and vast beaches.
				<p>&nbsp;</p>
				p.cityDescription Sagres is a destination where visitors come to embrace nature’s immense power, be that in the sea surfing, on the land hiking, or basking under the glorious sun. Sagres may not be for all, as the town has a laid back ambience with an outpost’s rugged and unkempt appearance, but for others Sagres will be the best location in the Algarve.
				<p>&nbsp;</p>
				p.cityDescription Sagres offers visitors beautiful beaches, a unique fort and some of the best surfing beaches of Portugal. Just outside of town is the Cabo Sao Vicente, the most westerly point of mainland Europe
				figure
					img.img-responsive(src="images/sagres1.jpg",style="display: inline-block")
					figcaption The beautiful scenery of the Sagres region
				<p>&nbsp;</p>
				p.cityDescription Surfing is the main activity of Sagres but there also challenging hiking trails, quiet roads for cycling, while departing from the harbour are deep sea fishing trips. For those tourists with a rental car, Sagres can be used as a base to explore the south western side of the Sao Vicente National Park, a region of remote beaches and stunning natural beauty.
				.title-box
					h4 The Cabo de São Vicente, the end of the world
				p.cityDescription The Cabo Sao Vicente is the most westerly point of mainland Europe and up until the 14th century it was believed to be the end of the known world. The ferocious waves of the Atlantic Ocean pound the massive cliffs, while high above the immensely bright light house guards the treacherous (dangerous) cliffs. No visit to Sagres is complete without visiting this bleak and wind torn headland.
				figure
					img.img-responsive(src="images/sagres2.jpg",style="display: inline-block")
					figcaption The 75m high cliffs of Cabo Sao Vicente Portugal
				p.cityDescription The constant winds prevent any substantial plant growth, while the whole barren appearance is in keeping with the once belief that it was the end of the world. There are two bus services Monday to Friday from Sagres to Cabo de São Vicente. The bus is convenient as it waits approximately 30 minutes at Cabo São Vicente before departing, which is usually enough time to see the entire area.
				.title-box
					h4 Holiday in Sagres?
				p.cityDescription A holiday to Sagres will appeal to two main groups of tourists; surfers (kite, surf or body boarding) and visitors who enjoy the outdoors, and wish to escape the crowds and mayhem of the central Algarve. Part of the allure of Sagres is the remote setting but this may (and should) deter tourists wanting a conventional weeks holiday as, apart from the beach and surfing, there is not actually much to do in Sagres.
				<p>&nbsp;</p>
				p.cityDescription Sagres, along with whole of southern Portugal, is extremely popular in the summer, always book accommodation well in-advance as places to sell out.
		.container.text-center
			#hidden_Lagos.collapse
				h3 Lagos
				br
				p.cityDescription Lagos is a historic and lively city that is situated on the beautiful Western Algarve coastline. As a holiday destination, Lagos offers visitors glorious beaches, buzzing nightlife and a charming historic centre, which has retained its traditional character and charm. Within the Lagos region is an abundance of varied sights and activities, which makes the city a fantastic destination for tourists who want more than just great beaches and glorious weather for their holiday.
				<p>&nbsp;</p>
				p.cityDescription For the intrepid visitor, Lagos can be used as a base from which to explore the entire western Algarve and there are numerous enjoyable day trips, many of which are easily accessible by public transport.
				.title-box
					h4 Why is it recommended to visit Lagos?
				p.cityDescription Lagos perfectly blends traditional Portuguese culture and beautiful beaches with great tourist facilities. Lagos has a delightful historic centre, which is surrounded by the ancient Moorish walls and overlooks pretty harbour estuary. Within the city centre is an extensive selection of restaurants and the nightlife is equally as varied, with small sociable bars through to late night banging nightclubs. Close to Lagos is a variety of activities and sights, which range from waterparks and zoos through to historic monuments and challenging hiking trails.
				<p>&nbsp;</p>
				p.cityDescription To the south of Lagos is the Ponta da Piedade headland, a series of highly weathered cliffs that are lined with spectacular grottos, arches, sea caves, and are regarded as the finest natural feature of the Algarve. Extending to the east of Lagos is the 4km long Meia Praia Beach, which is the longest sandy beach on the western side of the Algarve. Surround Lagos are many interesting towns which make for enjoyable day trips and include Sagres, Silves, Luz and Portimão.
				figure
					img.img-responsive(src="images/lagos2.jpg",style="display: inline-block")
					figcaption Centre of Lagos
				.title-box
					h4 Lagos for 2018
				p.cityDescription The Algarve and Lagos are experiencing massive growth within tourism; each year new visitors discover this wonderful, safe and inexpensive holiday destination, and then continue to return. This increased popularity is great for the region, but it does mean that the summer months, especially the school holidays can get very crowded. Lagos is expecting a sell-out summer for 2018 and this comes after the successful summer 2017 season.
				<p>&nbsp;</p>
				p.cityDescription Our advice to you is, if you are seriously considering a holiday to Lagos book your flights and accommodation now as price will rise and then sell out. Many hotel booking websites also allow visitors to make a reservation without paying a deposit, so book early to secure the best price. 
					a(target="_blank" href="https://www.booking.com/searchresults.html?city=-2167534&nflt=review_score%253D70&aid=1211621&no_rooms=1&group_adults=2&room1=A%2CA") For a guide of the best hotels in Lagos please click here.
				.title-box
					h4 Beaches of Lagos
				p.cityDescription Lagos has some of the finest beaches of southern Portugal and within walking distance of the town are four wonderful beaches. The Meia Praia is the largest beach of the region and is a vast sandy beach that extends for 4km from Lagos. The Praia Dona Ana and Praia do Pinhão are beautiful small beaches that are surrounded by sandstone cliffs and provide crystal clear bathing waters. The pretty Praia da Batata beach is located at the mouth of the estuary and overlooks the little fort.
				figure
					img.img-responsive(src="images/lagos1.jpg",style="display: inline-block")
					figcaption Pinhao Beach near Lagos
				p.cityDescription On the south-western side of Lagos is the Porto de Mos beach, an area popular with resort hotels and holiday homes, great for visitors who prefer not to be in the centre of the busy city. Porto de Mos is a great location for surfing but for some of the best surf in Portugal (and possibly Europe) head further along the coast to the small town of Sagres, which also makes for an enjoyable day trip.
				<p>&nbsp;</p>
				p.cityDescription The sheer number of varied beaches within the vicinity of Lagos means that, even at the height of the summer, space can be easily found for a relaxing day under the glorious sun. Visitors are often surprised by extremely cold water temperatures in the Algarve, which are driven by the Atlantic Ocean rather than the warmer Mediterranean Sea.
	
		.container-fluid(style='margin-top: 15%')
			.myDetailBox
				.myTitleBox.text-center
					label(data-messages=messages) Portugal
				if messages.length === 0
					.noComments.text-center
						p There are no comments in this topic 
				else 	
					.myCommentBox
						if messages
							each message in messages
								table(align="center", id="myTable")
									tr
										td(colspan='1')
											p=message.user.username
									tr
										td(colspan='1')
											p#commentText=message.body
											span.date.sub-text=message.createdAt.toString().substring(0,21)
				form#commentForm.form-group(role='form' autocomplete='off')
						.row
							.col-xs-12.col-sm-6
								input#username(type="text" class="form-control" name="username" placeholder="Your name" required)
							.col-xs-12.col-sm-6.text-right
								input#input_email(type="email" class="form-control" name="email" placeholder="Your email" required)
								p#inform *Will not be published
						.row#error_message.text-center(style="width:100%; margin-left:0%; margin-top:3%")
							.alert-danger.hidden
						br
						textarea#message.form-control(rows='5' placeholder="Your comment" name="message" required)
						button#message-btn.btn-default(name='newMessage') Send
		//- // Footer
		//- footer.container-fluid.text-center
		//- 	.row
		//- 		.col-sm-4
		//- 			img.navbar-brand(src='images/logo_travellersblog.png')
		//- 		.col-sm-4
		//- 			h5 Address and contact info here
		//- 		.col-sm-4
		//- 			a.fa.fa-facebook(href='#')
		//- 			a.fa.fa-linkedin(href='#')
		//- 			a.fa.fa-github(href='#')
		script(src="/js/sendmessage.js")


