extends layout

block content
		#container_title_santorini
		.container.text-center(style='margin-top: 5%')
			h1#title Santorini
			h4#description The natural wonder of the world
		.container(style='margin-top: 5%')
			.row
				.col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
					h4
						a(href='#hidden_Faro', data-toggle='collapse') Villages
				.col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
					h4
						a(href='#hidden_Albufeira', data-toggle='collapse') Beaches
				.col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
					h4
						a(href='#hidden_Sagres', data-toggle='collapse') Top things to do
		.container.text-center(style='margin-top: 5%')
			#hidden_Faro.collapse
				h3 Villages
				br
				.title-box
					h4 Oia
				p.cityDescription Oia is the most famous of all villages of Santorini. It is known throughout the world for its quiet life and fantastic sunset, and is certainly the most beautiful and picturesque village of Santorini. The village is also situated on top of an impressive cliff and offers a spectacular view over the volcano of Palia and Nea Kameni and the island of Thirassia. Oia is situated on the north of the island, 11 km away from Fira. 
				<p>&nbsp;</p>
				p.cityDescription It is a traditional village with charming houses in narrow streets, blue domed churches, and sun-bathed verandas. Its streets have plenty of tourist shops, taverns, cafes, and other shops. Oia is much more quiet that Fira and the busiest area is the main pedestrian that runs along its length. At the entrance of the village is a car park where visitors can leave their vehicle and enjoy long walks in the picturesque paths. The volcano from here is much less imposing but you can still get some gorgeous views.
				figure
					img.img-responsive(src="images/oia.jpeg",style="display: inline-block")
					figcaption Oia
				<p>&nbsp;</p>
				p.cityDescription Oia also has a small port, Ammoudi, which can be reached by a set of 300 steps leading down. There, small boats can take you opposite, to the island of Thirassia. The beach of Armenis is also located there. Taverns in Oia offer visitors tasty meals of fresh fish.
				.title-box
					h4 Fira
				p.cityDescription Fira is the capital of Santorini, Greece, and the most important of all villages. It is located at the west side of the island and 10 km away from the main port, Athinios. Fira has 1,600 permanent inhabitants. It is perched on the edge of an impressive cliff, at a height of 260 meters offering a great panoramic view over the submerged volcano.
				<p>&nbsp;</p>
				p.cityDescription In 1956, the island of Santorini was hit by an earthquake that destroyed a large part of the island but luckily, some of the 18th century buildings were saved. The town of Fira is a typical Cycladic village made of charming white houses with blue windows and doors, separated from each other by small paved streets. Many of its beautiful buildings were constructed back in the times of the Venetian invasion, including some blue domed churches and sun-bathed verandas that offer an incredible view of the volcano and the sunset.
				figure
					img.img-responsive(src="images/fira.jpg",style="display: inline-block")
					figcaption Fira
				<p>&nbsp;</p>
				p.cityDescription In our days, Fira is a busy town. During summer and in its high season, the central streets are overcrowded with tourists and filled with all kind of shops, jewelleries, restaurants, cafes, bars and night clubs. The town has a large number of hotels and from a high position you can notice that most have swimming pools and verandas offering their customers a superb view. The caldera is considered the highlight of Santorini but there are some interesting churches that attract attention as well as the sheer beauty of the town's architecture.
				.title-box
					h4 Imerovigli
				p.cityDescription Immerovigli is a picturesque village situated at the north of Santorini, only 2 km away from the capital of Fira. It is a continuation of Fira and one of the most beautiful balconies of the island. The name of Imerovigli comes from the word vigla which means view spot. The position of the village provides a clear view of the caldera, and during the old times it allowed villagers to see the pirate ships approaching. Today, Immerovigli is one of the recognized traditional settlements. 
				figure
					img.img-responsive(src="images/imerovigli.jpg",style="display: inline-block")
					figcaption Imerovigli
				<p>&nbsp;</p>
				p.cityDescription Hotels and traditional houses are plentiful in Imerovigli. There are also many taverns and cafes with stunning views to the caldera. In front of Immerovigli lies an enormous rock called Scaros.On top of it is a castle that was built during the 13th century but it was abandoned in the early 1800s. The castle housed all the administrative offices of the island. This part of the island collapsed after an earthquake, and only the huge hill of Scaros is left today. Immerovigli has numerous chapels and churches built on the rocks overlooking the blue sea. The village is known as the ultimate romantic destination.
				.title-box
					h4 Pyrgos
				p.cityDescription Pyrgos is situated 8 km southeast of Fira. The village is located on a fabulous spot on top of a hill and displays incredible panoramic views of the island. At the bottom are some nice taverns, a shop that stocks international press and the usual tourist shops. 
				<p>&nbsp;</p>
				p.cityDescription Pyrgos used to be the capital of the island until the early 1800s. Today, the village of Santorini counts more than 500 inhabitants and it is well-known for its major tourist movement. The village consists of traditional houses built all around the Venetian castle, and the small streets that follow the natural flow of the surrounding landscape. The houses are the perfect example of Cycladic design and in superb condition.
				figure
					img.img-responsive(src="images/pyrgos.jpg",style="display: inline-block")
					figcaption Pyrgos
				<p>&nbsp;</p>
				p.cityDescription The most famous church of Santorini is also found just 4 km from Pyrgos, the Monastery of Prophet Elias which is built at the highest spot of the homonymous mountain. It hosts a small collection of ethnographic material and old icons.
		.container.text-center
			#hidden_Albufeira.collapse
				h3 Beaches
				br
				p.cityDescription The beaches in Santorini are much different than other beaches in Greece due to their special geographical features. Red and black volcanic pebbles lay the shores of Santorini beaches and steep cliffs provide a picturesque ambience. The most famous of Santorini beaches is the Red beach, while particularly popular are Perissa, Kamari and Perivolos.
				.title-box
					h4 Red Beach
				p.cityDescription The red beach is arguably one of the most famous and beautiful beaches of Santorini. It is located only some steps away from the ancient site of Akrotiri. The small size of the beach creates a much crowded atmosphere and there are many days where most of the visitors choose not to make it all the way down to the beach and instead admire this unique landscape of red and black volcanic rocks from the headland.
				<p>&nbsp;</p>
				p.cityDescription The access is relatively easy. You can leave your car at the parking space and continue all the way down that takes about two minutes. As you gradually get down to the beach you will be impressed by the different colorings of the cliffs. Many sunbeds and umbrellas cover the dark sand and right on the seashore are some nice pebbles you can use for your collection. Snorkeling is highly recommended due to the interesting rocks. You can also access the beach by boat that departs from Akrotiri port.
				figure
					img.img-responsive(src="images/redbeach.jpg",style="display: inline-block")
					figcaption Red Beach
				.title-box
					h4 Kamari
				p.cityDescription Kamari is a famous beach resort of Santorini situated 10 km southeast of Fira, the island's capital. Quite similar to the landscape of Perissa, the beach is covered by black sand while on the left side of the beach is an enormous rock called Mesa Vouno that rises from the sea. The area is extremely attractive, especially at night when the rock shines in the dark. The beach of Kamari is fully organised offering a wide range of facilities like sunbeds, umbrellas and various types of water sports.
				<p>&nbsp;</p>
				p.cityDescription The traditional houses line the village of Kamari offering a beautiful view to the sea. Visitors can take a nice walk along the waterfront. Due to the modern amenities including hotels, restaurants, snacks, cafes, bars and night clubs the village becomes quite popular with tourists during the peak season. From Kamari, a road takes you up the mountain to Ancient Thira, and a caique can bring you to the wild isle of Anafi.
				figure
					img.img-responsive(src="images/kamari.jpg",style="display: inline-block")
					figcaption Kamari Beach
		.container.text-center
			#hidden_Sagres.collapse
				h3 Top things to do
				br
				p.cityDescription Famous for its stunning caldera, the volcano and the romantic sunset, Santorini is considered one of the top places to visit in the world. Perched on the edge of steep cliffs, the picturesque villages of Santorini offer great view to the Aegean Sea and the submerged volcano. Apart from the caldera villages with the traditional Cycladic architecture, such as Oia and Fira, there are many sightseeing to visit in Santorini. The most important ancient site is Minoan Akrotiri, a town that was entirely covered by volcanic ash when the volcano of Santorini erupted in about 1,500 BC. Another less-known archaeological site in Santorini is Ancient Thera, located on top of a hill above Perissa and offering breathtaking view.
				.title-box
					h4 Caldera
				p.cityDescription The Santorini Caldera undoubtedly is one of the natural wonders on planet earth. The volcanic explosion that occurred here 3500 years ago forever changed the topography of the Mediterranean coast.
				<p>&nbsp;</p>
				p.cityDescription The caldera of Santorini is actually a basin,four miles in diamater which scientists and archaeologists have linked with the myth of Atlantis. The landscape consist of steel rocks and cliffs that towers above almost touching the sky. It is more than a thousand feet above the sea level and extends underneath the sea for an additional thousand feet, thereby creating a perfect harbor. The caldera has an elevation, which varies between 150 to 350 meters. The distance from one end of the island (Cape Exomitis) to the other end (Cape Mavropetra) is 18 km. The island's breadth varies from 2 to 6 km.
				figure
					img.img-responsive(src="images/caldera_santorini.jpg",style="display: inline-block")
					figcaption Santorini Caldera
				<p>&nbsp;</p>
				p.cityDescription To the northernmost part of the Caldera is the town of Oia. This town is much preferred by the tourists and throbs with activity with plenty of bars, restaurants and hotels that are ideally positioned on rocky promontories which provide fabulous panoramic views to the Santorini Caldera. Oia can be reached by a road that meanders along the steep cliffs located to the eastern periphery of Santorini. At certain points this road is so narrow that it looks more like a ridge that can barely accommodate two lanes with no railing for protection.
				<p>&nbsp;</p>
				p.cityDescription The capital city of Fira is ideally located to the eastern elevation of the Caldera. The town is well spread over several high cliffs some of which towers above reaching heights of 1,200 feet above sea level which makes for an awesome spectacle. Fira like Oia is replete with bars, restaurants and hotels that have been built in vantage locales with a view to provide the discerning tourists with amazing panoramic vistas of the Santorini caldera. The principal port of Santorini is just below the cliff and tourists who arrive at the port of Fira always have the option of embarking on a donkey ride that takes them to the summit from where the surrounding natural panorama is absolutely breathtaking to say the least.
				.title-box
					h4 Romantic Sunset
				p.cityDescription Santorini is one of the best places on earth as far as sunset viewing is concerned. In fact, few places can match the sheer beauty of Santorini's sunset views. Visitor to the island fallen in love with the bewitchingly beautiful sunsets that can be savored from many vantage positions in the island. Most visitors to Santorini agree that sunsets when viewed from Santorini makes for a truly surreal experience.
				<p>&nbsp;</p>
				p.cityDescription For the avid photographer, there is no place like Santorini. It is the Mecca of outdoor photography. Many internationally acclaimed photographers have shot amazing photographs, particularly depicting the ethereal Santorini sunset. There is huge demand for hotel space particularly in the picturesque village of Oia which offers some of the most inspiring sunset views in the whole of Santorini.
				<p>&nbsp;</p>
				p.cityDescription Due to the fact that the romantic Santorini sunset is so potent couples prefer to spend the late afternoons in the company of each other and accordingly the hotels and restaurants have made the necessary arrangements exclusively targetted to attract couples who come in droves from all over the world just to view the sunset from Oia's many vantage points. Undoubtedly, Oia is among the most romantic places in the world.
				figure
					img.img-responsive(src="images/sunset_fira.jpg",style="display: inline-block")
					figcaption Romantic Sunset in Fira
				.title-box
					h4 Volcano and Hot Springs
				p.cityDescription Santorini is gifted with a unique natural beauty and a wild scenery created by the vocanic eruptions. As it is extremely famous for the beautiful caldera, the island is also known for the two small islands of black lava positioned at the centre of the basin of Santorini which are, geographically, the youngest islets in the Eastern Mediterranean.
				<p>&nbsp;</p>
				p.cityDescription Nea Kameni especially is a pole of attraction for tourists for its healing hot springs. The yellow waters there contain a large amount of sulfur and are characterized for their therapeutic purposes. Today, Agios Nikolaos which is the small cove in Nea Kameni islet is a true health source.
				figure
					img.img-responsive(src="images/neakameni.jpg",style="display: inline-block")
					figcaption Hot Springs - Nea Kameni
				.title-box
					h4 Take a Donkey Ride
				p.cityDescription Santorini offers you the rare chance to travel around the whole island with a donkey. While to some, the idea may seem absurd, to most it is one of the most beautiful experiences in Santorini. The best place to catch these donkeys is at the old port at Fira, the capital of Santorini.
				<p>&nbsp;</p>
				p.cityDescription You can also travel from the village of Oia to Ammoudi or in any other village. Up until 1979, this was the only mode of transport to climb up or down the 600 steps of the harbour to get to Fira. Since then cable cars have been installed but the donkey owners have not lost out much since some percentage of the earnings that come from cable cars are given to them. And besides, a lot of people, especially tourists enjoy taking the donkey ride over cable cars.
				<p>&nbsp;</p>
				p.cityDescription In traditional weddings also the donkey will take the bride to the church and back to her house. These donkeys are rather tame and in fact enjoy having children on their back. You must be aware that these animals do have a tendency to go a little fast and while that might make you nervous, you have to remember that you can blindly trust them along with the instinct of their owners.
				figure
					img.img-responsive(src="images/donkeys.jpg",style="display: inline-block")
					figcaption Donkeys in Fira
		.container-fluid(style='margin-top: 15%')
			.myDetailBox
				.myTitleBox.text-center
					label(data-messages=messages) Santorini
				if !messages
					.noComments.text-center
						p There are no comments in this topic 
				.myCommentBox
					if messages
						each message in messages
							table(align="center", id="myTable")
								tr
									td(colspan='1')
										p=message.user.username
								tr
									td(colspan='1')
										p#commentText=message.body
										span.date.sub-text=message.createdAt.toString().substring(0,21)

				form#commentForm.form-group(role='form')
						.row
							.col-xs-12.col-sm-6
								input#username(type="text" class="form-control" name="username" placeholder="Your name")
							.col-xs-12.col-sm-6
								input#input_email(type="email" class="form-control" name="email" placeholder="Your email")
						br
						textarea#message.form-control(rows='5' placeholder="Your comment" name="message")
						button#message-btn.btn-default(a name='newMessage') Send


		//- // Footer
		footer.container-fluid.text-center
			.row
				.col-sm-4
					img.navbar-brand(src='images/logo_travellersblog.png')
				.col-sm-4
					h5 Address and contact info here
				.col-sm-4
					a.fa.fa-facebook(href='#')
					a.fa.fa-linkedin(href='#')
					a.fa.fa-github(href='#')
		script(src="/js/sendmessage.js")


