extends layout

block content
		#container_title_srilanka
		.container.text-center(style='margin-top: 5%')
			h1#title Sri Lanka
			h4#description The heart of the Indian Ocean
		.container(style='margin-top: 5%')
			.row
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Faro', data-toggle='collapse') Top Attractions
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Albufeira', data-toggle='collapse') Beaches
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Sagres', data-toggle='collapse') Top Things To Do
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Lagos', data-toggle='collapse') National Parks
		.container.text-center(style='margin-top: 5%')
			#hidden_Faro.collapse
				h3 Top Attractions
				br
				.title-box
					h4 Sigiriya
				p.cityDescription The distance from the Colombo is 169km and is on the way to Anuradhapura or polonnaruwa. Sigiriya was designated as a world heritage site in 1982. Sigiriya is famous for it's palace ruins on top of a massive 200 meter high rock surrounded by the remains of an extensive network of gardens, reservoirs and other structures.
				<p>&nbsp;</p>
				p.cityDescription The rock itself is a lava plug left over from an ancient long extinct volcano. It is also renowned for its ancient paintings (frescoes), which are similar to those found at Ajanta Caves in India. It is generally agreed, however, that the Sigiriya Frescoes exhibit a uniquely Sri Lankan style. Sigiriya may have been inhabited through prehistoric times.
				figure
					img.img-responsive(src="images/sigiriya.jpg",style="display: inline-block")
					figcaption Sigiriya
				.title-box
					h4 Ella
				p.cityDescription The area has a rich bio-diversity, dense with numerous varieties of flora and fauna. Ella is surrounded by hills covered with cloud forests and tea plantations. The town has a cooler climate than surrounding lowlands, due to its elevation. The Ella Gap allows views across the southern plains of Sri Lanka. On a sunny morning, you can even see the glow from the lighthouses along the southern coast.
				<p>&nbsp;</p>
				p.cityDescription By rail. Ella's a few stops from Badulla at the end of the railway line that snakes through the Hill Country. Trains go to Colombo and Kandy from here. The fares are ludicrously cheap in 2nd and 3rd class, and the views spectacular. It's usually no problem getting a seat in 2nd/3rd class going to Colombo or Kandy, as the trains from Badulla are quite empty until reaching Nanu Oya. However the reverse is true going up to Ella and it can be quite crowded until the last 2 or 3 hours of the journey. Ella's railway station itself is prettily quaint. there are many travelers who visit ella by train.
				<p>&nbsp;</p>
				p.cityDescription By Road, Buses go south through Ella Gap to Wellawaya where you can change for a number of destinations in the south of the island.
				figure
					img.img-responsive(src="images/ella.jpg",style="display: inline-block")
					figcaption Ella
				.title-box
					h4 Kandy
				p.cityDescription Located 500m above the sea level it is the capital and gateway to the hill country. Also known as the royal city of Kandy, a UNESCO World Heritage Site, it was the last capital of the Singhalese Kingdom, Kandy has a charisma of its own. Many a sight has changed since the Colonial Britain overthrew the Kandyan King and started its reign in this island country in the year 1815. But it retains most of its ancient treasures, a bit of colonial splendour and is respected and visited by many a Buddhist as it is home to the Temple of the Tooth. 
				<p>&nbsp;</p>
				p.cityDescription In entering the city center you will encounter the lake, located centrally. Taking a walk around you will encounter street vendors, busy shops, calm corners and many pilgrims. Visiting Kandy gives you an opportunity to enter the Temple of the Tooth, a golden roofed temple where Buddha’s tooth relic kept safe in all its grandeur, gathering reverence from devotees who flock to pay their respects.
				figure
					img.img-responsive(src="images/kandy.jpg",style="display: inline-block")
					figcaption Temple of the Tooth - Kandy
		.container.text-center
			#hidden_Albufeira.collapse
				h3 Beaches
				br
				p.cityDescription Sri Lanka is the ideal place to combine a cultural tour with a bit of downtime at the beach, and it's equally as perfect for pure beach holidays spent chilling out at a resort. And whether you're a couple looking for a romantic getaway, a family looking to entertain the kids or a solo traveller seeking peace and quiet, Sri Lanka has a beach for everyone.
				.title-box
					h4 Mirissa
				p.cityDescription Mirissa and its breathtaking sandy beach pretty much transforms your dreams and visions of a tropical paradise into an everyday reality.
				<p>&nbsp;</p>
				p.cityDescription Located close to the Southern tip of the Island of Sri Lanka and only about 200 km from the Equator, this secluded crescent shaped beach is the perfect place to sit back, relax and forget about all the hussle and bussle of your other life that’s a million miles away.
				<p>&nbsp;</p>
				p.cityDescription This small sandy tropical beach boasts some of Sri Lanka’s best and most stunning sunsets and sunrises. All the guest houses in Mirissa are set back from the actual beach giving you the impression that you are on a deserted palm fringed island. Every now and again the silence is broken by the sound of a coconut falling on the sand or a chilled beer being opened by someone further up the beach.
				figure
					img.img-responsive(src="images/mirissa.jpg",style="display: inline-block")
					figcaption Mirissa Beach
				.title-box
					h4 Unawatuna
				p.cityDescription Situated on Sri Lanka's south coast roughly 5km from the charming colonial town of Galle, the popular beach resort of Unawatuna has it all - good looks with a pretty beach backed by a striking rocky outcrop, good swimming with a sheltered bay resulting in calm waters year-round, good nightlife with thumping discos and fun activities, and good accommodation options with plenty of hotels to suit all budgets. Its distance from Galle makes it a popular weekend getaway for locals with a towering dagoba offering magical views at sunset.
				figure
					img.img-responsive(src="images/unawatuna.jpg",style="display: inline-block")
					figcaption Unawatuna Beach
				.title-box
					h4 Tangalle
				p.cityDescription Set along the visually-pleasing south coast marked by rocky promontories and quiet coves, the beaches of Tangalle (also spelled Tangalla) are exactly what you want a tropical beach to resemble with swaying palms, expansive sands and turquoise waters. What makes this region stand out, however, are the attractions further inland that include a giant Buddha and surrounding shrines, the Hoo-maniya blowhole (best seen during the wet season), a bird sanctuary and an ancient monastery carved into rock.
				figure
					img.img-responsive(src="images/tangalle.jpg",style="display: inline-block")
					figcaption Tangalle Beach
				.title-box
					h4 Arugam Bay
				p.cityDescription Home to Sinhalese, Tamil and Muslim populations, Arugam Bay is easily the most multi-cultural beach resort in Sri Lanka with an eclectic character and laid-back vibe that entices a burgeoning expat community. Situated on the east coast of the island, the bay features an attractive palm-fringed beach and a famous break point that makes it particularly popular with surfers. Mainstream tourism developments have been kept largely at bay so it's a great place to enjoy a beach without the brashness of other more-established resorts.
				figure
					img.img-responsive(src="images/arugambay.jpg",style="display: inline-block")
					figcaption Arugam Bay
		.container.text-center
			#hidden_Sagres.collapse
				h3 Top Things To Do
				br
				.title-box
					h4 Whale Watching
				p.cityDescription The ever smiling, mischievous dolphins will put on a show while some of the oldest and the largest sea creatures, the humpback and the blue whales, will nonchalantly  glide past you, when you embark on a whale/ dolphin watching excursion off the Southern, Eastern or the West coast of Sri Lanka. The ideal locations for whale watching would be Dondra Point (accessible from Galle, Hikkaduwa and Mirissa) and Trincomalee while the sea off Kalpitiya teems with an abundance of dolphins.
				<p>&nbsp;</p>
				p.cityDescription With the whale watching season in Mirissa being in full swing and many local and foreign tourists gathering to the Mirissa harbor, The Sri Lanka Coast Guards had increased their vigilance in monitoring the implementation of Sea Mammals Observation, Regulation and Control Regulations.
				<p>&nbsp;</p>
				p.cityDescription To ensure that the Regulations are adhered to by boat operators and tourists engaged in whale watching, the members of the Rohana Coast Guard base had been observing whale and dolphin watching activities in Mirissa since last year. The coast guards also make sure that the boat operators; crew and the tourists abide the safety precautions and regulations before and during their tour of observation.
				figure
					img.img-responsive(src="images/whalewatching.jpg",style="display: inline-block")
					figcaption Whale watching
				.title-box
					h4 Rock climbing
				p.cityDescription Experience the thrills of crumbling rocks beneath the feet, head spinning heights and the earth expanding beneath conquering the mountains of Sri Lanka. The ranges of mountains standing guard around the highlands of Sri Lanka including the Knuckles range, Ella range, Habarana, Sigiriya, Polonnaruwa, Horton Plains and Buttala provide challenging climbs to armature as well as experienced climbers. The newest experience in mountaineering in waterfall climbing with exciting climbs like the rock face of Bambarakanda waterfall, the tallest in the country.
				.title-box
					h4 Trekking and hiking
				p.cityDescription Take a demanding trek high in the mountain rainforest of the Knuckles Range, and see the valuable spice – cardamom - growing in the forest, catch sight of rare orchids and birds, and enjoy the exhilaration of exploring spots where few have been before.  Traverse virtually unexplored country in the southeast, past the renowned Yala National Park where leopards prowl and elephants roam, past the bird-rich Kumana wetlands and into a region where literally hundreds of ruined temples and maybe even cities lie awaiting discovery in the forests.
				.title-box
					h4 Hot Air Ballooning
				p.cityDescription As the multi-coloured hot-air balloon drifts silently above the forest, adventure takes on a whole new meaning.
				<p>&nbsp;</p>
				p.cityDescription A great way to experience the exhilaration of flight with a bird’s eye view of the area below, a silent ride through the sky, an excursion that has caught on fast with locals and tourist alike is hot air ballooning, drifting gently over the cultural triangle, or a wildlife park in a hot air balloon will be unforgettable, actually nothing beats a hot air balloon excursion across the central plains in our opinion. Hot air ballooning tours are available from the north central plains of the island and be carried away under blue skies and over the landscape dotted with many little man-made lakes, one might even spot an elephant near these tanks, ancient monuments, propose to your fiancée in a hot air balloon, celebrate your birthday in a hot air balloon, exchange vows and get married in the air in a hot air balloon! Functioning from Dambulla, the service is available From December to March.
				figure
					img.img-responsive(src="images/balloons.jpg",style="display: inline-block")
					figcaption Hot Air Ballooning
				p.cityDescription 
		.container.text-center
			#hidden_Lagos.collapse
				h3 National Parks
				br
				p.cityDescription There are approximately 21 National Parks in Sri Lanka where tourists to Sri Lanka can spend a adventure holiday spotting wild animals to their heart’s content (including bird watching), while safari camping. This small island has much to offer the animal enthusiast, as much as India, Malaysia and the great Africa put together! Less costly, more laid back and less commercialized, Sri Lanka has been described as ‘one of Asia’s top wildlife destinations’.
				.title-box
					h4 Yala National Park
				p.cityDescription Recognized as a wildlife sanctuary as far back as the year 1900, Yala is Sri Lanka’s premier national Park. Famous for elephants, varied bird and mammal species, as well as other animals, Yala, located in the south east of Sri Lanka, has only 2 zones out of 6 open to the public. In visiting this national park, you will come across varied types of regions from semi deciduous forests, dry monsoon forests, moist monsoon forests, to fresh water and marine wetlands, thorn forests and grasslands, and yes for the discerning tourist…sandy beaches!
				figure
					img.img-responsive(src="images/leopard.jpg",style="display: inline-block")
					figcaption Yala National Park has one of the highest leopard densities in the world
				.title-box
					h4 Bundala National Park
				p.cityDescription a wetland sanctuary with beaches, lagoons, sand dunes and scrubby jungle, it’s home to giant squirrels, crocodiles and civets, while sightings of turtles arriving to lay eggs is common during October to January. Most importantly, it is a wintering ground for migratory water birds in Sri Lanka. Location: southern province.
				.title-box
					h4 Wilpattu National Park
				p.cityDescription Once renowned for its leopard population (you could be lucky enough to encounter one or two that roam about), sloth bear and crocodiles: all of which are considered threatened animals. Located in the Northwestern and North Central provinces of Sri Lanka, it got its name – Wilpattu (Land of Lakes) due to its 60 plus Villus (Lakes), which are most often visited by herds of deer and innumerable varieties of water birds.
				.title-box
					h4 Minneriya National Park
				p.cityDescription Part of the elephant corridor, this park joins up with Kaudulla and Wasgomuwa parks and is where you can see the world famous ‘Elephant Gathering’ which takes place annually, over a period of 3 months, mid year, when they gather to graze and laze on the bright green grasses. Located in North Central Province of Sri Lanka, this 8890 hectare is park is based around the beautiful ancient Minneriya Tank, attracting other animals during the dry season from June- September.

		.container-fluid(style='margin-top: 15%')
			.myDetailBox
				.myTitleBox.text-center
					label(data-messages=messages) Sri Lanka
				if messages.length === 0
					.noComments.text-center
						p There are no comments in this topic 
				else 	
					.myCommentBox
						if messages
							each message in messages
								table(align="center", id="myTable")
									tr
										td(colspan='1')
											p=message.user.username
									tr
										td(colspan='1')
											p#commentText=message.body
											span.date.sub-text=message.createdAt.toString().substring(0,21)
				form#commentForm.form-group(role='form' autocomplete='off')
						.row
							.col-xs-12.col-sm-6
								input#username(type="text" class="form-control" name="username" placeholder="Your name" required)
							.col-xs-12.col-sm-6.text-right
								input#input_email(type="email" class="form-control" name="email" placeholder="Your email" required)
								p#inform *Will not be published
						.row#error_message.text-center(style="width:100%; margin-left:0%; margin-top:3%")
							.alert-danger.hidden
						br
						textarea#message.form-control(rows='5' placeholder="Your comment" name="message" required)
						button#message-btn.btn-default(name='newMessage') Send
		//- // Footer
		//- footer.container-fluid.text-center
		//- 	.row
		//- 		.col-sm-4
		//- 			img.navbar-brand(src='images/logo_travellersblog.png')
		//- 		.col-sm-4
		//- 			h5 Address and contact info here
		//- 		.col-sm-4
		//- 			a.fa.fa-facebook(href='#')
		//- 			a.fa.fa-linkedin(href='#')
		//- 			a.fa.fa-github(href='#')
		script(src="/js/sendmessage.js")


