extends layout

block content
		#container_title_thailand
		.container.text-center(style='margin-top: 5%')
			h1#title Thailand
			h4#description The everlasting beauty
		.container(style='margin-top: 5%')
			.row
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Faro', data-toggle='collapse') Phuket
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Albufeira', data-toggle='collapse') Phi phi
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Sagres', data-toggle='collapse') Krabi
				.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
					h4
						a(href='#hidden_Lagos', data-toggle='collapse') James Bond island
		.container.text-center(style='margin-top: 5%')
			#hidden_Faro.collapse
				h3 Phuket
				br
				p.cityDescription
					| Farorol egy cik fewfweknf kwebkwe rnkwe nrkjwen kwjtn kt hkwwh kwe klelw hqhjkl bb ebg kr kjkgergk er blablaablbergergergergergegerg
		.container.text-center
			#hidden_Albufeira.collapse
				h3 Phi phi
				br
				p.cityDescription
					| Farorol egy cik fewfweknf kwebkwe rnkwe nrkjwen kwjtn kt hkwwh kwe klelw hqhjkl bb ebg kr kjkgergk er blablaablbergergergergergegerg
		.container.text-center
			#hidden_Sagres.collapse
				h3 Krabi
				br
				p.cityDescription
					| Farorol egy cik fewfweknf kwebkwe rnkwe nrkjwen kwjtn kt hkwwh kwe klelw hqhjkl bb ebg kr kjkgergk er blablaablbergergergergergegerg
		.container.text-center
			#hidden_Lagos.collapse
				h3 James Bond island
				br
				p.cityDescription
					| Farorol egy cik fewfweknf kwebkwe rnkwe nrkjwen kwjtn kt hkwwh kwe klelw hqhjkl bb ebg kr kjkgergk er blablaablbergergergergergegerg
		.container-fluid(style='margin-top: 15%')
			.myDetailBox
				.myTitleBox.text-center
					label(data-messages=messages) Thailand
				if !messages
					.noComments.text-center
						p There are no comments in this topic 	
				.myCommentBox
					if messages
						each message in messages
							table(align="center", id="myTable")
								tr
									td(colspan='1')
										p=message.user.username
								tr
									td(colspan='1')
										p#commentText=message.body
										span.date.sub-text=message.createdAt.toString().substring(0,21)

				form#commentForm.form-group(role='form')
						.row
							.col-xs-12.col-sm-6
								input#username(type="text" class="form-control" name="username" placeholder="Your name")
							.col-xs-12.col-sm-6
								input#input_email(type="email" class="form-control" name="email" placeholder="Your email")
						br
						textarea#message.form-control(rows='5' placeholder="Your comment" name="message")
						button#message-btn.btn-default(a name='newMessage') Send


		//- // Footer
		footer.container-fluid.text-center
			.row
				.col-sm-4
					img.navbar-brand(src='images/logo_travellersblog.png')
				.col-sm-4
					h5 Address and contact info here
				.col-sm-4
					a.fa.fa-facebook(href='#')
					a.fa.fa-linkedin(href='#')
					a.fa.fa-github(href='#')
		script(src="/js/sendmessage.js")


